@import "/src/styles/mixins/colors.scss";

.headerContents{
    width: 100%;
    height: 5rem;
    align-items: center;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    background: #0A0F12;
    border-bottom: 0.0625rem solid $gray;
    border-top: 0.0625rem solid $gray;
    padding: 0 2.5rem;
    font-size: 0.875rem;
}

.menu{
    display: flex;
    color: $white;
    a{
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    ul{
        list-style: none;
    }
    
    li{
        display: inline-block;
        padding: 0 1rem;
    }
}

.menuactive{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ul{
        list-style: none;
    }
    
    li{
        display: inline-block;
        padding: 0 1.25rem;
        letter-spacing: 0.05em;
    }
}

.menuAcliveContent{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        letter-spacing: 0.05em;
    }
}

.menuApp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuAppContent{
    display: flex;
    align-items: center;
}

.buttonActive{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}