@import '/src/styles/mixins/colors.scss';
@import '/src/styles/mixins/fontSize.scss';

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: calc(100vw - ((100vw - 900px) / 2));
    margin: 0 auto;
}
  
.welcome{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 50px auto;
}

.welcomeContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h2{
        font-size:  $xvl;
        color: $darkGreen;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 2.25rem;
    }

    p{
        font-size:  $xxlv;
        font-style: normal;
        font-weight: 500;
        line-height: 2.25rem;
        letter-spacing: 0.05em;
        margin: 20px auto 30px auto;
    }

    span{
        font-size:  $xlv;
        color: $darkGreen;
        letter-spacing: 0.05em;
        line-height: 2.25rem;
    }
}

.welcomeBanner{
    width: 100%;
    border: none;

    img{
        width: 100%;
        height: 100%;
        border-radius: 24px;
        background-size: cover;
    }
}

.bannersContainer{
    width: 100%;
    height: 100%;
    border-top: 5px solid $white;
    background-image: linear-gradient($backgroundGreen 35%, $ghostWhite 60%);
}

.bannersContents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: calc(100vw - ((100vw - 600px) / 2));
    margin: 0 auto;

    > h2{
        font-size:  $xxxvl;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.05em;
        margin-top: 80px;
        margin-bottom: 30px;
        line-height: 2.25rem;
    }
}

.banner{
    border: none;
    border-radius: 24px;
    background: $blackCurrant;
    width: 100%;
    height: 100%;

    & + .banner{
        margin-top: 40px;
    }
}

.contentBanner{
    width: 100%;
    padding: 40px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerTitle{
    width: 50%;
     > h2{
        color: $white;
        font-weight: 500;
        font-style: normal;
        font-size:  $xvlll;
        letter-spacing: 0.05em;
        line-height: 2.25rem;
    }
}

.appContainer{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.appContents{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: $blackPearl;
    max-width: calc(100vw - ((100vw - 900px) / 2));
}

.appCompany{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;

    h2{
        color: $white;
        font-weight: 700;
        font-style: normal;
        font-size:  $xxxll;
        letter-spacing: 0.05em;
        line-height: 2.25rem;
        margin-bottom: 8px;
    }

    >p{
        font-size:  $xx;
        font-style: normal;
        font-weight: 500;
        line-height: 2.25rem;
        letter-spacing: 0.05em;
        color: $nightShadow;
        margin-bottom: 40px;
    }
}

.appCompanyVideo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background: $blackCurrant;
    border-radius: 1.5rem;
    padding: 3.5rem;
    margin-bottom: 100px;

    > div{
        margin-bottom: 40px;

        h2{
            color: $white;
            font-weight: 700;
            font-style: normal;
            font-size:  $xxxll;
            letter-spacing: 0.05em;
            line-height: 2.25rem;
            margin-bottom: 8px;
        }

        p{
            font-size:  $xx;
            font-style: normal;
            font-weight: 500;
            line-height: 2.25rem;
            letter-spacing: 0.05em;
            color: $nightShadow;
        }
    }
}

.carouleContent{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 480px;
}
    
.products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    position: relative;
    border-radius: 8px;
    border: none;
    background: linear-gradient(180deg, #1EA483 0%, #7465D4 100%);
    
    img{
        object-fit: cover; 
    }

    footer{
        position: absolute;
        bottom: 0.25rem;
        left: 0.2rem;
        right: 0.25rem;
        padding: 1rem;

        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background: rgba(0, 0, 0, 0.6);

        transform: translateY(110%);
        opacity: 0;
        transition: all 0.2s ease-in-out;

        strong{
            font-size: $xvlll;
            color: $white;
        }
    
        span{
            font-size: $xx;
            font-weight: bold;
            color: $darkGreen;
        }
    }

    &:hover{
        footer{
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.appCurrent{
    display: flex;
    align-items: center;
    justify-content: space-around;

    p{
        font-size: 2rem;
        color: $white;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;

        span{
            color: $oceanGreenPearl;
        }
    }
}

.phoneImage{
    position: relative;
    right: 40px;
    width: 350px;

    img{
        width: 100%;
        object-fit: cover; 
        border-radius: 10% 10% 0 0;  
    }
}

.criptoContainer{
    width: 100%;
    min-height: 100%;
}

.criptoContents{
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    max-width: calc(100vw - ((100vw - 900px) / 2));

    h2{
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        color: $darkGreen;
        margin-bottom: 20px;

        >span{
            color: $white;
        }
    }

    p{
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5rem;
    }
    
}

.cardContents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: calc(100% - ((100% - 400px) / 2));
}

.cards{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    position: relative;
    background: $blackCurrant;
    border-radius: 24px;
    padding: 2.5rem;
    border: none;
}

.cardImage{
    width: 100%;
    height: 100%;
}

.cardFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    span{
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        color: $nightShadow;
    }
}