@import "../styles/mixins/colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  background: $blackPearl;
  color: $white;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: thin;
  font-family: 'Google Sans', 'Roboto', arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0A0F12;
  }
}
