@import "/src/styles/mixins/colors.scss";

.footerContainer{
  width: 100%;
  height: 100%;
}

.footerContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerLeftContent{
  display: grid;
  padding: 5rem;
  gap: 80px;
  grid-template-columns: 3.5fr 0.75fr;
  border-top: 0.0625rem solid $gray;
  border-bottom: 0.0625rem solid $gray;
}

.footerBoxs{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footerBoxContent{
  display: flex;
  flex-direction: column;

  h3{
      color: $white;
      font-weight: 500;
  }

  a{
      font-style: normal;
      font-size: 16px;
      line-height: 125%;
      color: $nightShadow;
      font-weight: 300;
      letter-spacing: 0.05em;
      margin-top: 0.875rem;
  }
}

.footerDownload{
  display: flex;
  flex-direction: column;
}

.download{
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.02px solid $gray;
    margin-top: 0.875rem;

    P{
      font-size: 0.875rem;
      letter-spacing: 0.05em;
      color: $nightShadow;
      font-weight: 300;
      font-style: normal;
    }

    h2{
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0.05em;
    }
}

.iconDownload{
    padding: 1.2rem;
}

.footerCopyRightContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
    span{
      font-size: 0.875rem;
      margin-left: 20px;
      color: $nightShadow;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.05em;
    }
}
.socialMedia{
  display: flex;
  a{
    display: flex;
    border-radius: 50%;
    border: 0.01px solid gray;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: $blackIconsfoo;
  }

  a + a{
    margin-left: 16px;
  }
}