$white: #ffff;
$darkGreen: #00AC00;
$gray: #808080;
$nightShadow: #6E7982;
$blackPearl: #0A0F12;
$black: #000000;
$blackIconsfoo: #171E22;
$backgroundGreen: #008B00;
$ghostWhite: #F7F7F9;
$blackCurrant: #151E24;
$oceanGreenPearl: #46B49B;
